.FAQGrid {
    display: grid;
    grid-template-columns: 2% repeat(4, 1fr) 5%;
    grid-template-rows: 10vh repeat(2, 1fr) auto;
    grid-template-areas:
    "header header header header header header"
    ". sidebar FAQ FAQ FAQ ."
    ". sidebar FAQ FAQ FAQ ."
    "footer footer footer footer footer footer";
    grid-gap: 2rem   
}

.FAQ {
    grid-area: FAQ;
    margin: 0;
    color: #ffffff;
    background: #000000;
    padding: 2rem;
    border: solid 1px #ffffff;
    border-radius: 25px;
}

.toggle {
    position: fixed;
    z-index: 2;
    left: 255px;
    top: 64px;
    font-size: 25px;
    cursor: pointer;
  }

  .notTopToggle {
    position: fixed;
    z-index: 2;
    left: 255px;
    top: 5px;
    font-size: 25px;
    cursor: pointer;
}
  
  .sidebarContainer {
    display: none;    
  }