body {
    background-image: url(./assets/images/background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover cover;
    max-width: 100%;
}



.sidebarTitle{
    margin-left: 5%;
}

.footer {
    position: relative;
    display: none;
    bottom:0;
}

.form-group {
    margin: 0;
}

.postForm {
    width: 45em;
    background: white;
    margin: 3em;
    padding: 3em;
}