* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('./assets/images/artGutter.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%
}

.sideBar::-webkit-scrollbar {
    width: .4rem;
    border-left: solid 2px #ffffff;
}
 
.sideBar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.sideBar::-webkit-scrollbar-thumb {
  background-color: #ff00ff;
  outline: 1px solid #4b0082;
  border-radius: 25px;
}

html {
    height: 100%;
    width: 100%
}

.mainContent {
    margin-bottom: 0 !important;
}

.footer {
    text-align: center;
    position: relative;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: #000000;
    border-top: solid 1px #ffffff;
}

.footer h6 {
    margin: 0;
    padding: 1.5rem;
}

.form-group {
    margin: 0;
}

.submit a {
    color: #ffffff;
}