* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('./assets/images/artGutter.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%
}

html {
    height: 100%;
    width: 100%
}

.footer {
    margin-top: 10rem;
    text-align: center;
    position: relative;
    left:0px;
    bottom:0px;
    width: 100%;
    background: #000000;
    border-top: solid 1px #ffffff;
}

.footer h6 {
    margin: 0;
    padding: 1.5rem;
}

.form-group {
    margin: 0;
}

.submit a {
    color: #ffffff;
}