@media only screen and (max-width: 760px) { 
    .contactGrid {
        display: grid;
        grid-template-columns: 5% repeat(4, 1fr) 5%;
        grid-template-rows: 10vh repeat(2, 1fr) auto;
        grid-template-areas:
        "header header header header header header"
        ". contact contact contact contact ."
        ". contact contact contact contact ."
        "footer footer footer footer footer footer";
        grid-gap: 2rem   
    }
    

    .sideBar {
        display: none;
    }

    .sidebarContainer {
        display: inline !important;
        position: fixed;
        left: 0px;
        top: 0px;
        bottom: 0px;
        width: 250px;
        background: rgb(0, 0, 0, .8);
        z-index: 3
    }

    .sideBarMobile {
        position: fixed;
        left: 0px;
        top: 64px;
        z-index: 1;
        width: 250px;
        /* animation-name: slide;
        animation-duration: .5s; */

    }

    #close {
        position: fixed ;
        left: -250px ;
        top: 64px ;
        z-index: 1 ;
        width: 250px ;
    }

    #moveTogglerClose {
        position: fixed ;
        left: 5px ;
        top: 64px ;
    }
}

@media only screen and (max-width: 610px) { 
    .sideBarMobile {
        position: fixed !important;
        left: 0px !important;
        top: 100px !important;
        z-index: 1 !important;
        width: 250px !important;
        /* animation-name: slide;
        animation-duration: .5s; */
    }

    #close {
        position: fixed !important;
        left: -250px !important;
        top: 100px !important;
        z-index: 1 !important;
        width: 250px !important;
    }

    #moveTogglerClose {
        position: fixed  !important;
        left: 5px  !important;
        top: 100px  !important;
    }

    .toggle {
        position: fixed !important;
        z-index: 2 !important;
        left: 255px !important;
        top: 100px !important;
        font-size: 25px !important;
        cursor: pointer !important;
    }
    
}