.contactUs{
    padding: 2rem;
    background: #000000;
    border: solid #ffffff 1px;
    border-radius: 25px;
    grid-area: pf;
    margin: 0;
}

.form-group {
    margin-bottom: 1rem;
}

::-webkit-input-placeholder {
    font-style: italic;
}
:-moz-placeholder {
    font-style: italic;  
}
::-moz-placeholder {
    font-style: italic;  
}
:-ms-input-placeholder {
    font-style: italic; 
}