.missionStatement {
    background: #000000;
    color: #ffffff;
    font-size: 30px;
    padding: 20px;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px #ffffff
}

.missionStatmentText {
    text-align: center;
    background: -webkit-linear-gradient(#4776e6, #8e54e9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 20px 0 20px;
}

.missionStatementLogo {
    font-family: 'Rock Salt', cursive;
    line-height: 3;
}