.userSettingsGrid {
    display: grid;
    grid-template-columns: 5% repeat(4, 1fr) 5%;
    grid-template-rows: 20vh repeat(2, 1fr) 10vh;
    grid-template-areas:
    "header header header header header header"
    ". sidebar up up up ."
    ". sidebar pp pp pp ."
    
    "footer footer footer footer footer footer";
    grid-gap: 2rem
}

.userSettingsForm {
    padding: 2rem;
    background: #000000;
    border: solid #ffffff 1px;
    border-radius: 25px;
    grid-area: pp;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.userSettingsForm button {
    width: fit-content;
}

.userSettingsHeader {
    color: #ffffff;
}

.userProfile {
    grid-area: up;
    background: #000000;
    border: solid 1px #ffffff;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 2rem;
}

.userProfileKey {
    color: aqua;
    font-size: 1.2rem;
}

.userProfileValue {
    color: #4e4376;
    color: #ff4500;
    color: #ff00ff;
    font-size: 1.2rem;
    margin-left: 1.2rem;
}

.userInfoFlex {
    display: flex;
}

.userProfilePic {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-right: 2rem;
}

.postForm {
    border: solid #000000 1px;
}


.imageFile {
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.imageFileInput {
    background-color: #ffffff;    
}

.productForm {
    margin-top: -17%;
    width: 60%;
}

.aboutMeForm {
    padding: 1rem;
}

.profilePicForm {
    padding: 1rem;
}

::-webkit-input-placeholder {
    font-style: italic;
}
:-moz-placeholder {
    font-style: italic;  
}
::-moz-placeholder {
    font-style: italic;  
}
:-ms-input-placeholder {
    font-style: italic; 
}


.userProfileStars {
    color: unset;
    margin-left: 1rem;
}

.checked {
    color: #ffa500;
}

.userProfileStars {
    color: unset;
    margin-left: 1rem;
}