.card-body {
    text-align: center;
}

/* This is the bootstrap css */
.artCard {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    /* border: 1px solid rgba(0, 0, 0, 0.125); */
    border-radius: 0.25rem;
}

.modal {
    overflow: scroll !important;
}

.modal-content {
    padding: 0 !important;
    border: solid #4b0082 .5rem !important;
}

.close {
    color: #ffffff !important
}

/* Our css */
.artCard {
    border: solid 2px #000000;
    max-width: 200px;
    min-width: 200px;
    height: fit-content;
    margin-bottom: 3rem;
    background: #000000;
    color: #ffffff;
    font-size: 1.2rem;
}

.card-img-top {
    height: 200px;
    width: 200px;
    border-bottom: solid 1px #ffffff;
}

