.homeGrid {
    display: grid;
    grid-template-columns: 2% 20% repeat(2, 1fr) 2%;
    grid-template-rows: 8vh 300px repeat(2, 1fr) auto;
    grid-template-areas:
    "header header header header header header"
    ". sidebar ms ms ms ."
    ". sidebar cs cs cs ."
    ". sidebar cs cs cs ."
    "footer footer footer footer footer footer";
    grid-gap: 2rem
}

.header {
    grid-area: header;
    z-index: 5;
}

.sideBar {
    grid-area: sidebar;
}

.missionStatement {
    grid-area: ms;
    opacity: .9;
}

.carousel {
    grid-area: cs;
    width: 100% !important;
}


.footer {
    grid-area: footer
}

.toggle {
    position: fixed;
    z-index: 2;
    left: 255px;
    top: 64px;
    font-size: 25px;
    cursor: pointer;
}

.notTopToggle {
    position: fixed;
    z-index: 2;
    left: 255px;
    top: 5px;
    font-size: 25px;
    cursor: pointer;
}

.sidebarContainer {
    display: none;    
}

/* .react-3d-carousel {
    grid-area: cs;
    width: 100% !important;
    width: 110%;
} */