.homeGrid {
    display: grid;
    grid-template-columns: 5% repeat(4, 1fr) 5%;
    grid-template-rows: 10vh repeat(3, 1fr) auto;
    grid-template-areas:
    "header header header header header header"
    ". sidebar ms ms ms ."
    ". sidebar ms ms ms ."
    ". cs cs cs cs ."
    ". cs cs cs cs ."
    "footer footer footer footer footer footer";
    grid-gap: 2rem
}

.header {
    grid-area: header
}

.sideBar {
    grid-area: sidebar;
}

.missionStatement {
    grid-area: ms;
    opacity: .9;
}

.carousel {
    grid-area: cs
}

.carouselLag {
    grid-area: csl
}

.footer {
    grid-area: footer
}

/* .carouselImage {
    height: 100% !important;
    width: 100%;
} */

