.sideBarTitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
    background: #2b5876;
    background: -webkit-linear-gradient(to right, #2b5876, #4e4376);
    background: linear-gradient(to right, #2b5876, #4e4376);
    border: solid 2px #ffffff;
    margin-bottom: 0;
    padding: 1rem;
    /* text-shadow: #c0c0c0 1px 1px; */
}

.sideBar {
    overflow: overlay;
}

.header li {
    font-size: 1.3rem;
}

.header li a {
    font-size: 1.3rem;
}

.header li a:hover {
    text-decoration: none;
    color: #ff00ff;
    transition: all .5s;
    text-shadow: #ffffff 1px 1px;
    -webkit-animation: glowPurple 1.5s ease-in-out infinite alternate;
    -moz-animation: glowPurple 1.5s ease-in-out infinite alternate;
    animation: glowPurple 1.5s ease-in-out infinite alternate;
}

.sideBarListItem {
    text-align: center;
    padding: 1rem;
    border-left: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    border-bottom: solid 1px rgba(255, 255, 255, .2);
    background-color: #000000;
}

.sideBarListItem a {
    color: #00ffff;
    font-size: 1.2rem;
    font-weight: 600
}

.sideBarListItem a:focus {
    text-decoration: none;
}

.sideBarListItem a:hover {
    text-decoration: none;
    color: #ff00ff !important;
    transition: all .5s;
    text-shadow: #ffffff 1px 1px;
    -webkit-animation: glowPurple 1.5s ease-in-out infinite alternate;
    -moz-animation: glowPurple 1.5s ease-in-out infinite alternate;
    animation: glowPurple 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes glowPurple {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #4e4376, 0 0 70px #4e4376, 0 0 80px #4e4376, 0 0 100px #4e4376, 0 0 150px #4e4376;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #4e4376, 0 0 35px #4e4376, 0 0 40px #4e4376, 0 0 50px #4e4376, 0 0 75px #4e4376;
    }
}