.sideBarTitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
    background: #4776e6;
    background: -webkit-linear-gradient(to right, #4776e6, #8e54e9);
    background: linear-gradient(to right, #4776e6, #8e54e9);
    border: solid 2px #ffffff;
    margin-bottom: 0;
    /* text-shadow: #c0c0c0 1px 1px; */
}

.sideBarListItem {
    text-align: center;
    padding: 1rem;
    border-left: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    border-bottom: solid 2px #ffffff;
    background-color: #000000;
}

.sideBarListItem a {
    font-size: 1.2rem
}

.sideBarListItem a:hover {
    text-decoration: none;
}