.postGrid {
    display: grid;
    grid-template-columns: 5% repeat(4, 1fr) 5%;
    grid-template-rows: 10vh repeat(2, 1fr) auto;
    grid-template-areas:
    "header header header header header header"
    ". sidebar pf pf pf ."
    ". sidebar pf pf pf ."
    "footer footer footer footer footer footer";
    grid-gap: 2rem
}

.postForm {
    padding: 2rem;
    background: #000000;
    border: solid #ffffff 1px;
    border-radius: 25px;
    grid-area: pf;
    margin: 0;
}

.form-control {
    background: #212529 !important;
    color: #8e54e9 !important;
}

textarea:focus, input:focus{
    outline-offset: 0px !important;
    outline: none !important;
}

.title {
    color: black;
    font-weight: bold;
    font-size: 25px;
}

#title{
    background-color: white;
}

.price {
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.priceInput {
    background-color: white;
}

.imageFile {
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.imageFileInput {
    background-color: white;    
}

.productForm {
    margin-top: -17%;
    width: 60%;
}

.postFormFlex {
    display: flex;
}

.warning {
    margin-left: 20px;
    font-size: 1rem;
    font-style: italic;
    font-weight: normal;
    color: #dc3545;
    margin-bottom: 0;
}

::-webkit-input-placeholder {
    font-style: italic;
}
:-moz-placeholder {
    font-style: italic;  
}
::-moz-placeholder {
    font-style: italic;  
}
:-ms-input-placeholder {
    font-style: italic; 
}