.title {
    color: black;
    font-weight: bold;
    font-size: 25px;
}

#title{
    background-color: white;
}

.price {
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.priceInput {
    background-color: white;
}

.imageFile {
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.imageFileInput {
    background-color: white;    
}

.productForm {
    margin-top: -20%;
    width: 60%;
}