.deleteGrid {
    display: grid;
    grid-template-columns: 2% repeat(4, 1fr) 5%;
    grid-template-rows: 10vh repeat(2, 1fr) auto;
    grid-template-areas:
    "header header header header header header"
    ". sidebar cards cards cards ."
    ". sidebar cards cards cards ."
    "footer footer footer footer footer footer";
    grid-gap: 2rem
}

.toggle {
    position: fixed;
    z-index: 2;
    left: 255px;
    top: 64px;
    font-size: 25px;
    cursor: pointer;
  }

  .notTopToggle {
    position: fixed;
    z-index: 2;
    left: 255px;
    top: 5px;
    font-size: 25px;
    cursor: pointer;
}
  
  .sidebarContainer {
    display: none;    
  }