.newArtGrid {
    display: grid;
    grid-template-columns: 5% repeat(4, 1fr) 5%;
    grid-template-rows: 10vh repeat(2, 1fr) auto;
    grid-template-areas:
    "header header header header header header"
    ". sidebar ac ac ac ."
    ". sidebar ac ac ac ."
    "footer footer footer footer footer footer";
    grid-gap: 2rem
}

.allCards {
    grid-area: ac;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



/* Style the Image Used to Trigger the Modal */
.firstImage {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.firstImage:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.captions {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, .captions { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.userImage {
    width: 100px;
    length: 100px;
    margin-left: 10px;
}

.toggle {
    position: fixed;
    z-index: 2;
    left: 255px;
    top: 64px;
    font-size: 25px;
    cursor: pointer;
  }
  
  .sidebarContainer {
    display: none;    
  }