.adminGrid {
    display: grid;
    grid-template-columns: 5% repeat(4, 1fr) 5%;
    grid-template-rows: 10vh repeat(2, 1fr) auto;
    grid-template-areas:
    "header header header header header header"
    ". sidebar as as as ."
    ". sidebar . . . ."
    "footer footer footer footer footer footer";
    grid-gap: 2rem;
     /* This is for pages that don't have enough content to fill the entire vh */
     height: 100vh;
}

.adminMessage {
    grid-area: as;
    background: #000000;
    border: solid #ffffff 1px;
    border-radius: 25px;
    padding: 2rem;
    display:flex;
    flex-direction: column;
    justify-content: center
}

.stripe {
    font-size: 20px;
    color: black;
}

#stripeBtn {
    margin-bottom: 2rem;
    max-width: fit-content;
}

.adminHeader {
    color: #ffffff;
    margin-bottom: 1rem;
}

.adminHeader2 {
    color: #ffffff;
    font-size: 1.2rem;
    margin: 2rem 0 2rem 0;
    padding: 2rem;
}

.submit a:hover {
    color: #000000;
    text-decoration: none;
}