.customizeGrid {
    display: grid;
    grid-template-columns: 2% repeat(4, 1fr) 5%;
    grid-template-rows: 10vh repeat(2, 1fr) auto;
    grid-template-areas:
    "header header header header header header"
    ". sidebar stuff stuff card ."
    ". sidebar stuff stuff card ."
    "footer footer footer footer footer footer";
    grid-gap: 2rem;
    position: relative 
}

.dashed {
  border-style: dashed
}

.menu{
  grid-area: stuff;
  background: #000000;
  padding: 2rem;
  border: solid #ffffff 1px;
  border-radius: 25px;
}

select {
  display: unset;
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #212529;
  color: #8e54e9;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.customizeTitle {
  color: #00ffff;
}

.customizeHeader {
  font-size: .8rem;
  color: #9e9e9e;
}

.toggle {
  position: fixed;
  z-index: 2;
  left: 255px;
  top: 64px;
  font-size: 25px;
  cursor: pointer;
}

.notTopToggle {
  position: fixed;
  z-index: 2;
  left: 255px;
  top: 5px;
  font-size: 25px;
  cursor: pointer;
}

.sidebarContainer {
  display: none;    
}

/* .sampleCard {
  grid-area: card;
  margin-top: 20%;
  margin-left:20%;
} */

.sampleCard {
  grid-area: card;
  margin-top: 20%;
  margin-left:20%;
  background: black;
  height: 405px;
}