.customizeGrid {
    display: grid;
    grid-template-columns: 5% repeat(4, 1fr) 5%;
    grid-template-rows: 10vh repeat(2, 1fr) auto;
    grid-template-areas:
    "header header header header header header"
    ". sidebar stuff stuff stuff ."
    ". sidebar stuff stuff stuff ."
    "footer footer footer footer footer footer";
    grid-gap: 2rem
}

.dashed {
  border-style: dashed
}

.menu{
  grid-area: stuff
}

.derp {
  width: 50px;
  height: 50px;
  background: yellow;
  display: block !important
}

select {
  display: unset;
}