@media only screen and (max-width: 610px) { 
    .right {
        position: absolute;
        top: 40px;
        left: 40px;
        
    }

    nav .nav-wrapper {
        position: relative;
        height: 160%;
    }
}