@media only screen and (max-width:760) { 
    nav .brand-logo.left {
        left: 0rem !important;
    }
}


@media only screen and (max-width: 610px) { 

    nav .brand-logo.left {
        left: 0rem !important;
    }

    .right {
        position: absolute;
        top: 40px;
        left: 10px;
        
    }

    nav .nav-wrapper {
        position: relative;
        height: 160%;
    }

    .loginBtn {
        padding: 0px;
    }
}

